/**
 * Flexee Grid
 * Flexbox-based CSS grid system
 * Author: Leesa Ward
 * URI: https://www.github.com/doubleedesign/Flexee-Grid
 */

// Main config
$base-font-size: 	16px;
$gutter:     		1.25em;
$column-count: 		12;
$column-width: 		100%/$column-count;

// Breakpoints
$breakpoints: (
	'smaller'	: 30em,		// 480px
	'small'  	: 37.5em, 	// 600px
	'medium' 	: 48em, 	// 768px
	'tablet' 	: 60em, 	// 960px
	'large'  	: 80em,		// 1280px
	'xlarge' 	: 100em, 	// 1600px
	'xxlarge' 	: 120em, 	// 1920px
);

// Spacing
$grid-gutter: (
	'start' 	: 1.250em, // 20px
	'small'  	: 1.250em,
	'medium' 	: 1.250em,
	'tablet' 	: 1.250em,
	'large'  	: 1.250em,
	'xlarge' 	: 1.250em,
	'xxlarge' 	: 1.250em,
);

// Boundaries
$start: 			20em;
$boundary: 			100vw;
$row-width: 		72em; 		// The maximum width of each row.
								// It may be different to $boundary, which is for the whole site.
								// If you want to use the xlarge and xxlarge breakpoints for the layout,
								// set this to the same or larger than the largest breakpoint you want to use.

// Breakpoint mixins
@mixin bp-small {
	@media only screen and (min-width: map-get($breakpoints, 'small')) {
		@content;
	}
}
@mixin bp-medium {
	@media only screen and (min-width: map-get($breakpoints, 'medium')) {
		@content;
	}
}
@mixin bp-tablet {
	@media only screen and (min-width: map-get($breakpoints, 'tablet')) {
		@content;
	}
}
@mixin bp-large {
	@media only screen and (min-width: map-get($breakpoints, 'large')) {
		@content;
	}
}
@mixin bp-xlarge {
	@media only screen and (min-width: map-get($breakpoints, 'xlarge')) {
		@content;
	}
}
@mixin bp-xxlarge {
	@media only screen and (min-width: map-get($breakpoints, 'xxlarge')) {
		@content;
	}
}

// General
body {
	min-width: $start;
	max-width: $boundary;
	margin: 0 auto;
}

[class*="row"]{
	box-sizing: border-box;
	display: flex;
	flex-flow: row wrap;
	max-width: $row-width;
	margin: 0 auto;
}

.column,
.columns {
	box-sizing: border-box;
	flex: 0 auto;
	padding-left: map-get($grid-gutter, 'start');
	padding-right: map-get($grid-gutter, 'start');

	@each $name, $value in $breakpoints {

		@media only screen and (min-width: map-get($breakpoints, $name)) {
			padding-left: map-get($grid-gutter, $name);
			padding-right: map-get($grid-gutter, $name);
		}
	}
}

@mixin grid-gutter-collapse { // Removes the padding from columns
	padding-left: 0;
	padding-right: 0;
}

.no-gutter {
	@include grid-gutter-collapse;
}

/*
 * ==== OPTION ONE ====
 * Evenly distributed rows of blocks based on the class given to the containing row,
 * wrapping onto a new line if there's more
 */

// Starting/all sizes
@for $i from 1 through $column-count {
	.row-of-#{$i} {
		.column {
			flex-basis: 100%/$i;
			max-width: 100%/$i;
		}
	}
}

// Responsive. Loop through the breakpoints,
// and within that loop through the column count to create .breakpoint-row-of-x classes
// Note: Dynamic mixin names are not a thing so we have to use the full media query
@each $name, $value in $breakpoints  {

	@media only screen and (min-width: map-get($breakpoints, $name)) {

		@for $i from 1 through $column-count {
			.#{$name}-row-of-#{$i} {
				.column {
					flex-basis: 100%/$i;
					max-width: 100%/$i;
				}
			}
		}
	}
}


/*
 * ==== OPTION TWO ====
 * Variable width blocks based on the class given to the columns
 */

.columns {

	// Starting/all sizes
	@for $i from 1 through $column-count {
		&.start-#{$i} {
			flex-basis: ($column-width*$i);
		}
	}

	// Responsive. Loop through the breakpoints,
	// and within that loop through the column count to create column classes
	// Note: Dynamic mixin names are not a thing so we have to use the full media query
	@each $name, $value in $breakpoints  {
		@media only screen and (min-width: map-get($breakpoints, $name)) {

			@for $i from 1 through $column-count {
				&.#{$name}-#{$i} {
					flex-basis: ($column-width*$i);
					max-width: ($column-width*$i);
				}
			}
		}
	}
}


/*
 * ==== OPTION THREE ====
 * Spread all blocks evenly as long as their content fits, no matter how many there is.
 * Can be the messiest depending on how uniform your content is.
 */

.row-fit {
	> .column {
		flex: auto;
	}
}