body {
	font-family: $body-font-family;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 1rem;
	line-height: 1.3;
	color: $body-color;

	@include bp-tablet {
		font-size: 1.125rem;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: $fw-bold;
}

p {
	margin-bottom: 1rem;
}

a {
	color: map-get($theme-colors, primary);
	text-decoration-color: rgba(map-get($theme-colors, primary), 0.25);
	transition: $global-transition;

	&:hover, &:focus, &:active {
		color: map-get($theme-colors, accent);
		text-decoration-color: map-get($theme-colors, accent);
	}
}

.screen-reader-text { // Ref: Zurb Foundation 6. display: none hides from screen readers so we have to get a bit more creative!
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}